<html>
<head>    
    <title>Ember.js App runnning with Bootstrap</title>
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
    
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/navbar-fixed-top.css" rel="stylesheet">
</head>
<body>
    <script type="text/x-handlebars" data-template-name='application'>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {{#link-to 'index' class="navbar-brand" tagName='li'}}Ember.js{{/link-to}}
        </div>
        {{#link-to 'about' class="navbar-brand" tagName='li'}}About{{/link-to}}
        {{#link-to 'groups' class="navbar-brand" tagName='li'}}Groups{{/link-to}}
        {{#link-to 'devs' class="navbar-brand" tagName='li'}}Devs{{/link-to}}
        </div>
      </div>
    </div>

    <div class="container">
        {{outlet}}
      </div>
    </script>

    <script type="text/x-handlebars" data-template-name="index">
        <div class="jumbotron">
            <h1>Welcome to my first Ember.js app</h1>
        </div>
    </script>

    <script type="text/x-handlebars" data-template-name="about">
        <div class="jumbotron">
            <h1>Hello, my name is {{name}}</h1>
        </div>
    </script>

    <script type="text/x-handlebars" data-template-name="groups">
        <div>
            <h1>Groups<h1>
            {{#each}}
                {{name}}
                <br/ > <br />
                <img {{bind-attr src='logo'}} />
                <br/ > <br />
                {{about}}
            {{/each}}
        </div>
    </script>

    <script type="text/x-handlebars" data-template-name="devs">
        <div>
            {{#each}}
                {{#link-to 'dev' this}}
                    <h2>{{name}}<h2>
                {{/link-to}}
            {{/each}}
        </div>
    </script>

    <script type="text/x-handlebars" data-template-name="dev">
        <div>
            <h2>{{name}}<h2>
            <img {{bind-attr src='picture'}} />
        </div>
    </script>

    <script src="js/libs/jquery-1.10.2.min.js"></script>
    <script src="js/libs/handlebars-1.0.0.js"></script>
    <script src="js/libs/ember.js"></script>
    <script src="js/application.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
